<form action="/songs" method="post">
Song Name: <input type="text" name="song_name">
Artist Name: <input type="text" name="song_artist_name">
Song Genre: <input type="text" name="song_genre_name">
<input type="submit">
</form>
